@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
  --color-white: #fff;
  --color-black: #000;
  --color-one: #343f81;
  --color-two: #eceaeb;
  --color-three: #c4c4c4;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.2rem;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
span {
  display: block;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
/* Start Page 1 */
.page1 {
  height: 100vh;
  background-image: url("îmages/1646390111.jpeg");
  background-size: 100% 100%;
  position: relative;
}
.page1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}
.page1_container {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.page1_container p {
  font-size: 1.6rem;
  font-weight: bold;
}
.page1_container .arrow-right {
  background-color: var(--color-one);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);
  transition: 0.5s;
  border: 2px solid var(--color-one);
}
.page1_container .arrow-right:hover {
  border-color: var(--color-black);
  background-color: transparent;
  color: var(--color-black);
}
/*  End Page 1  */
/* Start Page 2 */
.page2 {
  padding: 5rem 0;
  border-bottom: 5px solid var(--color-black);
}
.page2_container i {
  font-size: 2.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.page2_container h3 {
  margin: 2rem 0;
}
.page2_container .gender {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.page2_container .gender .gender-box {
  border: 2px solid var(--color-black);
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  text-transform: capitalize;
  background-color: var(--color-two);
  border-radius: 1rem;
  transition: 0.5s;
}
.page2_container .gender .gender-box:hover {
  background-color: var(--color-three);
  border-color: var(--color-three);
}
.page2_container .gender .gender-box span {
  font-size: 1.5rem;
}
.page2_container .person-info {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.page2_container .person-info .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.page2_container .person-info .box label {
  font-size: 1.5rem;
  font-weight: 400;
}
.page2_container .person-info .box input {
  align-self: flex-start;
  width: 5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: var(--color-two);
  outline: none;
  border: none;
  text-align: center;
  transition: 0.5s;
  border: 2px solid var(--color-two);
}
.page2_container .person-info .box input:hover {
  border-color: var(--color-black);
  background-color: var(--color-three);
}
/*  End Page 2 */
/* Start Page 3 */
.page3 {
  padding: 5rem 0;
}
.page3_container h5 {
  color: #a8adda;
}
.page3_container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  max-width: 100%;
  margin-top: 1rem;
}
.page3_container .title i {
  font-size: 1.5rem;
  cursor: pointer;
}
.page3_container .exercices {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.page3_container .exercices .exercice {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  text-transform: capitalize;
  transition: 0.5s;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);
}
.page3_container .exercices .exercice:hover {
  transform: scale(1.1);
}
.page3_container .exercices .exercice::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.493);
  z-index: 0;
}
.page3_container .exercices .exercice:nth-of-type(1) {
  background-image: url("îmages/16-laws-of-shoulder-training-cellucor-facebook-960x540.jpg");
  background-size: cover;
  background-position: center center;
}
.page3_container .exercices .exercice:nth-of-type(2) {
  background-image: url("îmages/useful-back-exercises.jpg");
  background-size: cover;
  background-position: center center;
}
.page3_container .exercices .exercice:nth-of-type(3) {
  background-image: url("îmages/images (3).jpg");
  background-size: cover;
  background-position: center center;
}
.page3_container .exercices .exercice .header,
.page3_container .exercices .exercice .body {
  position: relative;
  z-index: 1;
}
.page3_container .exercices .exercice .header span {
  color: red;
}
.page3_container .exercices .exercice .header h4 {
  font-size: 1.5rem;
}
.page3_container .exercices .exercice .body .body-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page3_container .exercices .exercice .body .body-end .btn {
  border: none;
  background: rgba(255, 0, 0, 0.61);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid rgba(255, 0, 0, 0.61);
  transition: 0.5s;
}
.page3_container .exercices .exercice .body .body-end .btn:hover {
  background: transparent;
}
/*  End Page 3 */
/* Start Page 4 */
.page4 {
  padding: 5rem 0;
  background-image: url("îmages/download.jpg");
  background-size: cover;
  position: relative;
}
.page4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  z-index: 0;
}
.page4_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  position: relative;
  z-index: 1;
}
.page4_container .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.page4_container .box h3 {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--color-white);
}
.page4_container .box .content-box {
  height: 5rem;
  background: var(--color-three);
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
}
.page4_container .box .content-box img {
  width: 5rem;
  border-radius: 50%;
  border: 5px solid var(--color-two);
}
/*  End Page 4 */
/* Start Page 5  */
.page5 {
  padding: 5rem 0;
}
.page5_container .active-clients {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 3rem 0;
}
.page5_container .active-clients .box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.page5_container .active-clients .box:nth-of-type(2),
.page5_container .active-clients .box:nth-of-type(3) {
  color: #888787;
}
.page5_container .active-clients .box i {
  cursor: pointer;
  color: #536fbb;
}
.page5_container .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.page5_container .boxes .box {
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2);
  transition: 0.5s;
}
.page5_container .boxes .box:hover {
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.2), 0 0 1.5rem rgb(0, 0, 0, 0.4);
}
.page5_container .boxes .box > span {
  font-size: 1.5rem;
}
.page5_container .boxes .box {
  overflow: hidden;
}
.page5_container .boxes .box:nth-child(odd) {
  background-color: #dbc9c9;
}
.page5_container .boxes .box:nth-child(even) {
  background-color: #9fb0dc;
}
.page5_container .boxes .box img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0 auto;
}
.page5_container .boxes .box .contact {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}
.page5_container .boxes .box .contact .profile,
.page5_container .boxes .box .contact .email {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
}
.page5_container .boxes .box .contact .profile span,
.page5_container .boxes .box .contact .email span {
  width: 6rem;
}
.page5_container .boxes .box .contact .profile {
  transform: translateX(-180%);
}
.page5_container .boxes .box .contact .email {
  transform: translateX(180%);
}
.page5_container .boxes .box:hover .contact .profile {
  transform: translateX(0);
}
.page5_container .boxes .box:hover .contact .email {
  transform: translateX(0);
}
.page5_container .boxes .box .contact .profile span {
  transition: 0.5s;
}

.page5_container .boxes .box .contact .icon {
  background-color: var(--color-white);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  transition: 0.5s;
}
.page5_container .boxes .box .contact .profile:hover .icon,
.page5_container .boxes .box .contact .email:hover .icon {
  background-color: transparent;
  border-color: var(--color-black);
}
/*  End Page5  */
/* Media Query [TABLET] */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .page5_container .boxes .box .contact {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
/* Media Query [PHONE] */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  h1 {
    font-size: 4.7rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  /* Start Page2 */
  .page2_container .gender {
    flex-direction: column;
  }
  .page2_container .gender .gender-box {
    width: 100%;
  }
  .page2_container .person-info {
    align-items: center;
  }
  .page2_container .person-info .box label {
    text-align: center;
  }
  .page2_container .person-info .box input {
    margin: 0 auto;
  }
  /* Start Page3 */
  .page3_container h5 {
    margin-bottom: 1rem;
  }
  .page3_container .title {
    margin: 0 auto;
  }
  .page3_container .exercices {
    align-items: center;
  }
  .page5_container .active-clients {
    gap: 3rem;
  }
  .page5_container .active-clients .box {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 690px) {
  .page5_container .boxes {
    grid-template-columns: 1fr;
  }
}
